{
  "hass_url": "http://192.168.1.1:8123",
  "hass_token" : "hass_token______________hass_token",
  "do_not_track": ["01:23:45:67:89:ab"],
  "only_track": [],
  "must_track": ["01:23:45:67:89:00"],
  "device_min_dawn_score": 60,
  "device_must_5g": false,
  "params": {
    "01:23:45:67:89:ab": {
      "mac": "ff:ff:ff:ff:ff:ff",
      "hostname": "Dave",
      "dev_id": "phonedave"
    }
  },
  "ap2room": {},
  "ssid": "Zheng-Network",
  "offline_after": 3,
  "poll_interval": 15,
  "full_sync_polls": 10,
  "location": "home",
  "away": "not_home",
  "debug": false,
  "source": "router"
}
